
<img *ngIf="loading" src="assets/1488.gif" />

<div *ngIf="! loading" class="container">
  sort by:<select [(ngModel)]="selectedName" (change)='sortvalues()'>
    <option value="first_name">first_name</option>
    <option value="last_name">last_name</option>
    </select>

  <div class="row">
    <div *ngFor="let user of users">
      <div routerLink="userprofile/{{ user.id }}" class="users col-12">

        <img src="{{ user.avatar }}" />

        <div>
          firstname:{{ user.first_name }}
        </div>
        <div>
          lastname:{{ user.last_name }}
        </div>
      </div>
    </div>
  </div>
</div>



