
<img *ngIf="loading" src="assets/1488.gif" />

<div *ngIf="! loading" class="container main">
  <div class="select">
    sort by:<select [(ngModel)]="selectedName" (change)='sortvalues()'>
      <option value="first_name">first_name</option>
      <option value="last_name">last_name</option>
      </select>
  </div>

  <div class=row>
    <div *ngFor="let user of users" class="col-4">
      <div routerLink="userprofile/{{ user.id }}" class="users">

        <img src="{{ user.avatar }}" />

        <div>
          firstname:{{ user.first_name }}
        </div>
        <div>
          lastname:{{ user.last_name }}
        </div>
      </div>
    </div>
  </div>
</div>



